/***************** CLASSES FOR BODY TAG (CONTAINER CLASS) *********************/
.container{
    margin:0;
    display:flex;
    background-color:black;
}
/********************** LEFT SIDE ************************/
.sidebar{
    height:100%;
    width:30%;
    background-color:white;
}
/************* APP NAME AND LOGO ****************/
.app-name{
    width:100%;
    height:auto;
    display:flex;
    margin:5%;
    justify-content: space-between;
    align-items: center;
    height:10%;
}
.name{
    font-family: sans-serif;
    width:80%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    margin:5%;
    font-size: 1.6rem;
    font-weight: bold;
}
.logo{
    height:auto;
    width:20%;
    object-fit: contain;
    border-radius:15px;
}
.des{
    font-size:1.2rem;
    font-weight:lighter;
    color:rgb(107, 107, 107);
}
/************* ADD NEW TASK FORM ****************/
.btn{
    padding:1%;
    color:rgb(255, 255, 255);
    background-color:rgb(117, 117, 117);
    box-shadow:0 0 15px rgb(0, 0, 0);
    width:80%;
    height:10%;
    border:none;
    border-radius:10px;
    font-size:1.1rem;
}
.input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}
.date::-webkit-calendar-picker-indicator {
    background: url('../images/calender.png') center/80% no-repeat;
    color: rgb(0, 0, 0);
    opacity: 1;
}
.date::-webkit-calendar-picker-indicator:hover {
    background: url('../images/calender.png') center/80% no-repeat;
    opacity: 0.8;
}
.date{
    display:inline-block;
    font-size:1rem;
    width:auto;
    color:rgb(54, 54, 54);
    position:absolute;
    left:5%;
    top:60%;
}
.addtask{
    border:0.8px solid white;
    padding:1%;
    background-color:white;
    box-sizing:border-box;
    margin-top:15%;
}
.addtask h2{
    margin:3%;
    padding:0;
    font-family:sans-serif;
}
.addtask form{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height:65%;
}
.input{
    width:90%;
    margin:5%;
    border:none;
    margin-right:10%;
    border-bottom:1px solid slategrey;
    color:rgb(0, 0, 0);
    background:transparent;
    font-size:1rem;
    padding:1%;
}
.addtask form fieldset{
    width:90%;
    margin:5%;
    height:10%;
}
#myList{
    width:100%;
    height:100%;
    border:none;
}
/************ RIGHT SIDE (AREA WHERE THE TASKS ARE VISIBLE) ****************/
.main{
    margin-right:10px;
    box-sizing:border-box;
    height:100%;
    width:70%;
    background-image:url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-color: rgba(255,255,255,10%);
    background-blend-mode: lighten;
    padding:3%;
    font-family: sans-serif;
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
}
.main::-webkit-scrollbar {
    width: 10px;
}
.main::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.main::-webkit-scrollbar-thumb {
    background: rgb(99, 99, 99); 
}
.main::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 63, 63); 
}
/************ TASK CLASSES ***************/
.taskslist{
    list-style-type: none;
    color:black;
}
.task{
    background-color:rgba(255, 255, 255, 90%);
    width:100%;
    font-size:1.3rem;
    margin:1%;
    padding:2%;
    padding-bottom:4%;
    box-sizing:border-box;
    border-radius:10px;
    margin-left:0;
    position:relative;
}
.task span{
    display:inline-block;
    padding-left:0;
    width:auto;
    margin-left:2%;
}
.description{
    position:absolute;
    width:75%;
    height:1.5rem;
    /* for a long task only one line will be visible */
    overflow:hidden; 
    display:flex;
    flex-wrap:nowrap;
}
.duedateheading{
    width:25%;
    height:auto;
    padding:1%;
    display:inline-flex;
    align-items:center;
    justify-content: space-between;
    background-color:rgba(2, 2, 2, 0.788);
    color:white;
    border-radius:10px;
    box-shadow:0 0 3px rgb(255, 255, 255);
    font-weight: lighter;
    position:relative;
}
.notvisible{
    padding:0;
    height:0;
    overflow:hidden;
    transition: all 0.5s ease-in-out;
}
#dltbtn{
    margin-left:10%;
    width:auto;
    height:auto;
    padding:1%;
    border:none;
    border-radius:5px;
}
/************ CLASSES FOR DIFFERENT CATEGORIES *****************/
.category{
    display:inline-block;
    background-color:red;
    font-size:1rem;
    color:rgb(54, 54, 54);
    position:absolute;
    right:5%;
    padding:1%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
    box-sizing:border-box;
    top:25%;
}
.Cleaning{
    background-color:mediumpurple;
}
.Personal{
    background-color:lightcoral;
}
.School{
    background-color:lightgreen;
}
.Work{
    background-color:cyan;
}
.Other{
    background-color:grey;
}
/*************** CLASSES FOR TASK TODAY ******************/
.color-red{
    background-color:white;
    font-weight: bold;
    box-shadow: 0 0 2px white;
}
.biggerfontsize{
    font-size:1.2rem;
}